@{
    ViewBag.Title = "Contato";
}
<head>
    <link rel="stylesheet" type="text/css" href="Estilo.css" />
</head>
<body>
    <h2 style="text-align:center;color:darkblue"><b>@ViewBag.Title</b></h2>

    <p>
        <br />
        <br />
        <br />
        <b>
            Rua José Alameda Alencar, 528<br />
            Centro, Curitiba - PR, 80852-000
        </b>
    <p>
        <br />
  
    <p>
       <br />
        <b>Telefone: 55-41-3352-7858</b>
    </p>
    <br />
    <br />
    <br />
    <br />


</body>