@using OficinaMecanica.Models
@model IEnumerable<Cliente>
@{
    ViewBag.Title = "Home Page";

}

<head>

    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />

</head>
<body id="body">

    <h1 style="text-align:center;color:darkblue;font-family:'OCR A'"><b>BrOficina</b></h1>
    <br />
    <br />
    <img src="~/fonts/oficina.jpg" id="oficina" 
    <br />
    <br />

    <h3 style="text-align:center; color:darkblue">SUA OFICINA SINONIMO DE ORGANIZAÇÃO</h3>

    <br />

</body>
