@using OficinaMecanica.Models
@model IEnumerable<Cliente>
@{
    ViewBag.Title = "Home Page";

}

<head>
    <link href="~/Content/Estilo.css" rel="stylesheet" type="text/css" />
</head>
<body id="body">

    <h1> </h1>
    <h1 style="font:Verdana; color:darkblue">
        <b>Br Oficina</b>
        <img src="~/fonts/carro.jpg" id="carro" />
    </h1>

    <br />
    <br />
    <h3 style="text-align:center; color:blue">SUA OFICINA SINÔNIMO DE ORGANIZAÇÃO</h3>
    <br />
    <br />

    <br />
    <br />

    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <h2>Quem Somos?</h2>
            <p>
                Somos uma empresa de software que busca trazer facilidade no dia a dia de nossos clientes. 
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>A Br Oficina</h2>
                <p>
                    
                </p>
         </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>Funcionalidades</h2>
                    <p>
                       
                    </p>
                </div>
</body>
