@using OficinaMecanica.Models
@model IEnumerable<Cliente>
@{
    ViewBag.Title = "Home Page";

}

<head>

    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />

</head>
<body id="body">

    <h1 style="text-align:center;font-family:'Copperplate Gothic'"><b>BROFICINA</b></h1>
    <br />
    <h4 style="text-align:center;font-family:Castellar"><b>Sua oficina sinonimo de Organização</b></h4>
    <br />
    <div id="fundo-externo">
        <div id="fundo">
            <img src="~/fonts/oficina.jpg" id="oficina" />
        </div>
    </div>

</body>